*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.swo
*.swp
*.tgz
*.xml
.DS_Store
.idea
.project
.strong-pm
coverage
*.lock
*.sublime-*

# Node.js.
node_modules
npm-debug.log
.jshintrc
.jslintrc
.editorconfig
lerna-debug.log
package-lock.json
